* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #164fbd;
    font-family: Arial, sans-serif;
    color: #fff;
}

header {
    background: #d8e0e8;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 70px;
    height: auto;
}

#titolo-header {
    color: #0f2252;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}


#menu-principale {
    display: flex;
    gap: 20px;
    list-style: none;
}

.highlight-card {
    display: flex;
    gap: 30px;
    background: linear-gradient(135deg, #ffffffd0, #dfe7ff);
    border-radius: 18px;
    padding: 30px;
    width: 85%;
    margin: 40px auto;
    box-shadow: 0 6px 18px rgba(0,0,0,0.25);
    transition: transform .25s ease, box-shadow .25s ease;
}

.highlight-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 28px rgba(0,0,0,0.35);
}

.highlight-img img {
    width: 350px;
    height: auto;
    border-radius: 12px;
}

.highlight-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight-text h3 {
    font-size: 32px;
    color: #0f2252;
    margin-bottom: 15px;
}

.highlight-text p {
    font-size: 18px;
    color: #0f2252;
    line-height: 1.5;
    text-align: justify;
}




