body{
    background-color: #164fbd;
    margin: 0;
    padding: 0;
}

header{
    background: #d8e0e8; padding: 25px 15px 5px 15px; width: 100%;
    font-family: Arial;
    width: 100%;
    position: relative; 
}

#menu-principale{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;      
    margin: 0;
    list-style: none;  
}

#menu-principale li {
    margin: 0 10px;       
    text-decoration: none;
    color: #000;
    
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

header .logo {
    width: 80px;                 
    height: auto;                
    position: absolute;          
    top: 20px;                   
    left: 10px;                  
}

#titolo-header {
    text-align: center;
    margin: 0;
    color: #0f2252;           
    font-size: 40px;       
    font-weight: bold; 
    padding: 15px;    
}
